/* Elixir */
elixir
    &.identifier
        apply_l( cyan( 'light_10' ) )
        &.constant
            apply_l( green( 'light_20' ) )
        &.function
            apply_l( magenta( 'light_10' ) )
    &.import
        apply_l( green( 'light_30' ) )
    &.value
        apply_l( cyan( 'dark_30' ) )
