/* INI */
ini
    &.comment
        apply_l( gray(), .9 )
        italic()
    &.pair.identifier
        apply_l( orange( 'light_30' ) )
    &.section
        apply_l( green( 'light_30' ) )
        &.bracket
            apply_l( orange() )
