/* Typescript */
typescript
    &.type
        apply_l( orange() )
    &.block
        apply_l( orange( 'light_20' ) )
    &.identifier
        &.constant
            apply_l( green( 'light_10' ) )
        &.type
            apply_l( green( 'light_30' ) )
        &.property
            apply_l( blue( 'light_10' ) )
