/*
 * Base colors
 */

$colors = (), // empty tuple used for visual code appeal despite code smell
    ( 'black' hsl(214, 18%, 3%) ),
    ( 'gray' hsl(200, 6%, 38%) ),
    ( 'white' hsl(214, 100%, 95%) ),
    ( 'magenta' hsl(333, 100%, 57%) ),
    ( 'red' hsl(3, 100%, 57%) ),
    ( 'orange' hsl(28, 100%, 57%) ),
    ( 'yellow' hsl(50, 100%, 57%) ),
    ( 'green' hsl(110, 100%, 57%) ),
    ( 'cyan' hsl(190, 100%, 58%) ),
    ( 'blue' hsl(220, 100%, 58%) ),
    ( 'bgblack' hsl(212.3, 22.8%, 11.2%) )

black()
    polis( 'black', arguments[0] || 1.0, arguments[1] || 1.0 )

gray()
    polis( 'gray', arguments[0] || 1.0, arguments[1] || 1.0 )

white()
    polis( 'white', arguments[0] || 1.0, arguments[1] || 1.0 )

red()
    polis( 'red', arguments[0] || 1.0, arguments[1] || 1.0 )

yellow()
    polis( 'yellow', arguments[0] || 1.0, arguments[1] || 1.0 )

orange()
    polis( 'orange', arguments[0] || 1.0, arguments[1] || 1.0 )

green()
    polis( 'green', arguments[0] || 1.0, arguments[1] || 1.0 )

cyan()
    polis( 'cyan', arguments[0] || 1.0, arguments[1] || 1.0 )

blue()
    polis( 'blue', arguments[0] || 1.0, arguments[1] || 1.0 )

magenta()
    polis( 'magenta', arguments[0] || 1.0, arguments[1] || 1.0 )

bgblack()
    polis( 'bgblack', arguments[0] || 1.0, arguments[1] || 1.0 )
