/*
 * Base colors
 */

$colors = (), // empty tuple used visual code appeal despite code smell
    ('black' hsl( 214.3, 30.4%, 4.5% )),
    ('gray' hsl( 199.3, 11.9%, 45.8% )),
    ('white' hsl( 272.7, 33.3%, 93.5% )),
    ('red' hsl( 3.4, 100%, 61.4% )),
    ('yellow' hsl( 47, 97%, 73% )),
    ('orange' hsl( 36.5, 100%, 52% )),
    ('green' hsl( 129.1, 67.3%, 52% )),
    ('cyan' hsl( 181.5, 100%, 56% )),
    ('blue' hsl( 210.1, 100%, 52% )),
    ('magenta' hsl( 279.9, 85.4%, 65.1% )),
    ('bgblack' hsl( 212.3, 22.8%, 11.2% ))

black()
    polis( 'black', arguments[0] || 1.0, arguments[1] || 1.0 )

gray()
    polis( 'gray', arguments[0] || 1.0, arguments[1] || 1.0 )

white()
    polis( 'white', arguments[0] || 1.0, arguments[1] || 1.0 )

red()
    polis( 'red', arguments[0] || 1.0, arguments[1] || 1.0 )

yellow()
    polis( 'yellow', arguments[0] || 1.0, arguments[1] || 1.0 )

orange()
    polis( 'orange', arguments[0] || 1.0, arguments[1] || 1.0 )

green()
    polis( 'green', arguments[0] || 1.0, arguments[1] || 1.0 )

cyan()
    polis( 'cyan', arguments[0] || 1.0, arguments[1] || 1.0 )

blue()
    polis( 'blue', arguments[0] || 1.0, arguments[1] || 1.0 )

magenta()
    polis( 'magenta', arguments[0] || 1.0, arguments[1] || 1.0 )

bgblack()
    polis( 'bgblack', arguments[0] || 1.0, arguments[1] || 1.0 )
