@require 'colors'

/* JSON */
json.operator.colon,
json.comma
    color polis_white

json.string.double-quoted
    color polis_green

json.string.double-quoted.delimiter,
json.string.key.double-quoted.delimiter
    color bright_yellow

json.string.key
    color polis_yellow

json.value.number
json.value.boolean
    color polis_blue

json.value.null
    color polis_cyan

json.bracket.block.start,
json.bracket.block.end
    color white
