@require 'colors'

markdown.image.bracket
    color polis_orange

markdown.markup.reference
    color polis_blue

markdown.image.markup,
markdown.link.identifier,
markdown.link.identifier.name.key
    color polis_white

markdown.image.string,
markdown.markup.image.reference
    color polis_blue
