@require 'colors'

/*
 * Theme meta
 */
meta
  -theme-interface-style: dark
  -theme-vibrancy: none
  -theme-accent-color: false

meta.accent
    color accent

/* Window styles */
meta.window
    background-color background

meta.titlebar
    background-color background

meta.titlebar.inactive
    /* only with -theme-vibrancy: none; */
    background-color: lighten(background, 10%)

/* Button */
meta.button

meta.button.highlighted

meta.button.selected
    /* only with -theme-accent-color: none; */
    // background-color background

meta.button.highlighted.selected

meta.button.disabled

meta.textfield

/*
 * Document styles
 */
meta.document
    background-color lighten(background, 3%)
    border-color: lighten(background, 3%)

meta.document.button

meta.document.button.disabled

meta.document.button.highlighted

meta.document.textfield

/* Text */
meta.text
    color polis_white

//meta.text.invisible
//    color invisible

meta.text.selected
    background-color lighten(background, 15%)

/* Cursor */
meta.cursor
    background-color lighten(background, 5%)
    border-color caret

/* Indentation guides */
meta.indentguide
    border-color background + accent

/* Gutter */
meta.gutter
    color lighten(background, 30%)

meta.gutter.selected
    color lighten(background, 60%)
