/*
 * Syntax styles
 */
keyword
    color polis_blue
    font-weight bold

comment
    color comment

processing
    color polis_white

declaration
    color polis_white

bracket
    color polis_white

operator.colon,
operator
    color bright_magenta

invalid
    color error
    text-decoration underline solid error

link
    color polis_blue
    text-decoration underline dotted polis_blue

/* Values */
value.boolean
    color polis_cyan

value.null
    color polis_cyan

value.number
    color polis_cyan

value.entity
    color polis_cyan

value.symbols
    color polis_cyan

/* Identifiers */
identifier
    color bright_blue

identifier.type
    color polis_white

identifier.type.class
    color polis_white

identifier.type.protocol
    color polis_white

identifier.type.enum
    color polis_white

identifier.type.union
    color polis_white

identifier.type.struct
    color polis_white

identifier.constant
    color polis_white

identifier.global
    color polis_white

identifier.variable
    color polis_white

identifier.property
    color polis_cyan

identifier.decorator
    color polis_green

identifier.function
    color polis_green

identifier.method
    color polis_green

identifier.key
    color polis_white

identifier.argument
    color bright_blue

/* Strings */
string
    color polis_white

string.key
    color polis_white

string-template
    color polis_white

string-template.value
    color polis_white

string.single-quoted,
string.double-quoted,
string.backtick-quoted
    color polis_yellow

string.single-quoted.delimiter,
string.double-quoted.delimiter,
string.backtick-quoted.delimiter
    color bright_magenta

regex
    color polis_white

regex.escaped
    color polis_white

cdata
    color polis_white

/* Markup */
markup.heading
    color polis_white

markup.line
    color polis_white

markup.bold
    font-weight bold

markup.italic
    font-style italic

markup.strikethrough
    text-decoration line-through solid polis_white

markup.list.item
    color polis_white

markup.code
    color polis_white

/* Types */
definition.class class.name
    color polis_white

definition.type type.name
    color polis_white

definition.package package.name
    color polis_white

definition.enum enum.name
    color polis_white

definition.union union.name
    color polis_white

definition.struct struct.name
    color polis_white
    font-style italic
    font-weight bold

/* Members */
definition.property property.name
    color polis_white

definition.function function.name
    color polis_white

definition.method method.name
    color polis_white

/* Tags */
tag
    color polis_white

tag.framework
    color polis_white

tag.attribute.name
    color polis_white

tag.attribute.value
    color polis_white

tag.attribute.value.link
    color polis_white
    text-decoration underline dotted red

/* Styles */
style.at
    color polis_white
    font-weight bold

style.selector.element
    color polis_white
    font-weight bold

style.selector.identifier.id
    color polis_white

style.selector.identifier.class
    color polis_white

style.selector.pseudoclass
    color polis_white

style.selector.pseudoelement
    color polis_white

style.attribute.name
    color polis_white

style.value.number
    color polis_white

style.value.color.hex
    color polis_white

style.value.keyword
    color polis_white

style.value.color.named
    color polis_white

semicolon,
comma,
operator.colon
    color polis_white
