@require 'colors'

/* Terminal */
terminal.black
    color polis_black

terminal.red
    color polis_red

terminal.green
    color polis_green

terminal.yellow
    color polis_yellow

terminal.blue
    color polis_blue

terminal.magenta
    color polis_magenta

terminal.cyan
    color polis_cyan

terminal.white
    color polis_white

terminal.bright-black
    color bright_black

terminal.bright-red
    color bright_red

terminal.bright-green
    color bright_green

terminal.bright-yellow
    color bright_yellow

terminal.bright-blue
    color bright_blue

terminal.bright-magenta
    color bright_magenta

terminal.bright-cyan
    color bright_cyan

terminal.bright-white
    color bright_white
