css
    /* CSS */
    &.comment
        &.block
        &.single
    &.style
        &.attribute
            &.custom
            &.name
            &.value
        &.attribute-list
            &.bracket
        &.selector
            &.identifier
                &.name
                    &.class
                    &.element
                    &.id
            &.name
                &.class
            &.operator
            &.pseudoelement
                &.css2
            &.simple
                &.class
                &.element
                &.id
        &.string
            &.double-quoted
                &.filepath
        &.value
            &.color
                &.hex
                &.named
                &.rgba
                    &.bracket
                    &.identifier
                        &.function
                    &.number
                        &.alpha
                        &.blue
                        &.green
                        &.red
            &.function
                &.url
                &.var
                    &.property
                        &.identifier
            &.identifier
                &.function
                    &.var
            &.keyword
            &.number
                &.unit
