@require 'elixir'
@require 'ini'
@require 'javascript'
@require 'jsx'
@require 'lua'
@require 'perl'
@require 'python'
@require 'ruby'
@require 'sass'
@require 'shell_script'
@require 'tsx'
@require 'typescript'
@require 'yaml'
