/* Perl */
perl
    &.block
        apply_l( orange( 'light_20') )
    &.identifier
        apply_l( white( 'dark_10' ) )
    &.keyword
        &.function
            apply_l( magenta( 'light_20' ) )
