/* Shell String */
shell
    &.string
        &.double-quoted
            apply_l( yellow( 'light_20' ) )
    &.string-template
        apply_l( green( 'light_20' ) )
    &.builtin-command
        apply_l( magenta( 'light_20' ) )
    &.identifier
        apply_l( blue( 'light_30', .9 ) )
        &.name
            apply_l( green( 'light_20' ) )

