/* Shell String */
shell
    &.string
        &.double-quoted
            apply_l( yellow( 'light_20' ) )
    &.string-template
        apply_l( green( 'light_20' ) )
    &.builtin-command
        apply_l( magenta( 'light_20' ) )
