/* Strings */
single-quoted, double-quoted, backtick-quoted
    apply_l( orange( 'light_20' ) )
    &.delimiter
        apply_l( orange() )

string
    apply_l( yellow( 'light_20' ) )
    &.key
        apply_l( green( 'light_10' ) )
        &.single-quoted,
        &.double-quoted,
        &.backtick-quoted
            apply_l( orange( 'light_20') )
            &.delimiter
                apply_l( orange() )
    &.triple-quoted
        apply_l( orange( 'light_20' ) )
        &.delimiter
            apply_l( orange() )
    &.tempplate-value
        apply_l( yellow( 'light_20' ) )
regex
    apply_l( yellow( 'light_10' ) )
    &.escaped
        apply_l( orange() )
cdata
    debug()
