/*
 * Window styles
 */
meta
    &.window
        apply_cr( bgblack(), bgblack( 'light_20', .2 ) )

    &.titlebar
        apply_clr(
            linear-gradient( bgblack(), bgblack( 'dark_20' ), bgblack() ),
            orange(),
            bgblack( 'light_20', .2 )
        )
        &.inactive
            apply_cr(
                linear-gradient( bgblack(), bgblack( 'light_10' ), bgblack() ),
                bgblack()
            )

    &.button
        apply_clr(
            linear-gradient(
                bgblack( 'light_10' ),
                bgblack(),
                bgblack()
            ),
            yellow(),
            linear-gradient(
                bgblack(),
                bgblack( 'light_10' ),
                bgblack( 'light_10' )
            )
        )
        &.highlighted // click-n-hold
            apply_clr(
                linear-gradient(
                    bgblack(),
                    bgblack(),
                    bgblack( 'light_20' )
                ),
                magenta( 'light_10' ),
                linear-gradient(
                    bgblack( 'light_20' ),
                    bgblack( 'light_20' ),
                    bgblack()
                )
            )
        &.selected
            apply_clr(
                linear-gradient(
                    bgblack(),
                    bgblack(),
                    bgblack( 'light_10' )
                ),
                magenta(),
                linear-gradient(
                    bgblack( 'light_10' ),
                    bgblack( 'light_10' ),
                    bgblack()
                )
            )
        &.highlighted.selected
            apply_clr(
                linear-gradient(
                    bgblack(),
                    bgblack(),
                    bgblack( 'light_20' )
                ),
                magenta( 'light_10' ),
                linear-gradient(
                    bgblack( 'light_20' ),
                    bgblack( 'light_20' ),
                    bgblack()
                ),
            )
        &.disabled
            apply_clr(
                linear-gradient(
                    bgblack( 'dark_20' ),
                    bgblack(),
                    bgblack()
                ),
                yellow( 'dark_60' ),
                linear-gradient(
                    bgblack(),
                    bgblack( 'dark_20' ),
                    bgblack( 'dark_20' )
                )
            )

    &.textfield
        apply_cr(
            bgblack( 'dark_10' ),
            bgblack( 'light_10' )
        )

    &.accent
        apply_l( orange() )
