meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: false;
}
meta.accent {
  color: #2a281d;
}
meta.window {
  background-color: #1d1f2a;
}
meta.titlebar {
  background-color: #1d1f2a;
}
meta.titlebar.inactive {
/* only with -theme-vibrancy: none; */
  background-color: #2f3244;
}
meta.button.highlighted.selected,
meta.button.disabled,
meta.textfield,
meta.document {
  background-color: #232532;
  border-color: #26303c;
}
meta.document.button,
meta.document.button.disabled,
meta.document.button.highlighted,
meta.document.textfield,
meta.text {
  color: #c5c5c5;
}
meta.text.invisible {
  color: #4e4e4e;
}
meta.text.selected {
  background-color: #383c51;
}
meta.cursor {
  background-color: #262937;
  border-color: #3d612d;
}
meta.indentguide {
  border-color: #512d61;
}
meta.gutter {
  color: #535978;
}
meta.gutter.selected {
  color: #979cb7;
}
terminal.black {
  color: #0e0f15;
}
terminal.red {
  color: #ff5c61;
}
terminal.green {
  color: #96cc00;
}
terminal.yellow {
  color: #fec701;
}
terminal.blue {
  color: #1caaca;
}
terminal.magenta {
  color: #cb207b;
}
terminal.cyan {
  color: #0cc;
}
terminal.white {
  color: #c5c5c5;
}
terminal.bright-black {
  color: #7177a0;
}
terminal.bright-red {
  color: #ffadb0;
}
terminal.bright-green {
  color: #d6ff66;
}
terminal.bright-yellow {
  color: #fee380;
}
terminal.bright-blue {
  color: #84dbee;
}
terminal.bright-magenta {
  color: #ec88be;
}
terminal.bright-cyan {
  color: #6ff;
}
terminal.bright-white {
  color: #e2e2e2;
}
json.operator.colon,
json.comma {
  color: #c5c5c5;
}
json.string.double-quoted {
  color: #96cc00;
}
json.string.double-quoted.delimiter,
json.string.key.double-quoted.delimiter {
  color: #fee380;
}
json.string.key {
  color: #fec701;
}
json.value.number,
json.value.boolean {
  color: #1caaca;
}
json.value.null {
  color: #0cc;
}
json.bracket.block.start,
json.bracket.block.end {
  color: #ff232c;
}
