/* Identifiers */
identifier
    &.type
        apply_l( yellow( 'light_10' )  )
        italic()
    &.constant
        apply_l( green( 'dark_10', .9 ) )
    &.global // TODO
        apply_cl(
            red(),
            white()
        )
    &.variable
        apply_l( white(), .9 )
    &.argument
        apply_l( cyan( 'light_10', .9 ) )
        &.name
            italic()
    &.property
        apply_l( blue( 'light_10', .9 ) )
    &.decorator, &.function, &.method
        apply_l( magenta( 'light_10', .9 ) )
    &.method.name, &.function.name
        italic()
    &.key
        apply_l( green( 'light_20', .9) )
    &.class
        apply_l( green( 'light_10', .9 ) )
