/* Identifiers */
identifier
    &.type
        apply_l( yellow()  )
        italic()
    &.constant
        apply_l( green() )
    &.global
        debug()
    &.variable
        apply_l( white(), .9 )
    &.argument
        apply_l( cyan() )
        &.name
            italic()
    &.property
        apply_l( blue() )
    &.decorator, &.function
        apply_l( magenta( 'dark_10' ) )
    &.method
        apply_l( magenta( 'light_10' ) )
    &.key
        apply_l( green() )
    &.class
        apply_l( green() )
    &.superclass
        apply_l( cyan() )
    &.name
        apply_l( magenta( 'light_10' ) )
