/* Identifiers */
identifier.type {
    color: hsb(258, 40%, 87%);
}
identifier.constant {
}
identifier.global, identifier.variable {
    color: hsb(268, 34%, 100%);
}
identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
    color: hsb(166, 40%, 78%);
}
identifier.key {
    color: hsb(210, 60%, 100%);
}
identifier.argument {
    color: hsb(268, 34%, 100%);
}
