/* Markup */
markup
    &.heading
        apply_l( orange( 'light_20', .9 ) )
        &.name
            apply_l( green( 'light_20', .9 ) )
    &.line
        apply_l( orange( 'light_20', .9 ) )

    &.bold
        apply_l( magenta( 'dark_10', .9 ) )
        bold()
    &.italic
        apply_l( magenta( 'dark_20', .9 ) )
        italic()
    &.strikethrough
        apply_l( magenta( 'dark_30', .9 ) )
    &.list
        &.item
            apply_l( orange( 'light_20', .9 ) )
    &.inline
        &.code
            apply_cl( blue( 'light_20', .1 ), blue( 'light_20', .9 ) )
    &.block
        &.code
            apply_cl( blue( 'light_20', .1 ), blue( 'light_20', .9 ) )
        &.quote
            apply_l( cyan( 'dark_20', .9 ) )
    &.link, &.link-inline
        aplpy_l( cyan( 'light_20', .9 ) )
        text-decoration: none
