/* Markup */
markup
    &.heading
        apply_l( orange( 'light_20' ) )
        &.name
            apply_l( green( 'light_10' ) )
    &.line
        apply_l( orange() )

    &.bold
        apply_l( magenta() )
        bold()
    &.italic
        apply_l( magenta() )
        italic()
    &.strikethrough
        apply_l( magenta() )
    &.list
        &.item
            apply_l( orange( 'light_10' ) )
    &.inline
        &.code
            apply_cl( bgblack( 'light_10' ), gray( 'light_60' ) )
    &.block
        &.code
            apply_cl( bgblack( 'light_10' ), gray( 'light_60' ) )
        &.quote
            apply_l( cyan() )
    &.link, &.link-inline
        td_ud( blue( 'light_10' ) )
