/* Strings */
string {
    color: hsb(5, 65%, 100%);
}
string.key {
    color: hsb(5, 65%, 100%);
}
string-template {
    color: hsb(27, 60%, 100%);
}
string-template.value {
    color: hsb(27, 72%, 100%);
}
regex {
    color: hsb(40, 72%, 100%);
}
regex.escaped {
    color: hsb(27, 72%, 99%);
}
cdata {
    color: hsb(210, 60%, 100%);
}
