/* Strings */
string
    apply_l( yellow( 'light_10', .9 ) )
    &.key
        apply_l( green( 'dark_10', .9 ) )
        &.single-quoted,
        &.double-quoted,
        &.backtick-quoted
            apply_l( yellow( 'dark_10', .9 ) )
            &.delimiter
                apply_l( orange( 'dark_10', .9 ) )

string-template
    apply_l( orange( 'light_10', .9 ) )
    &.value // TODO
        apply_cl(
            red,
            white()
        )
regex
    apply_l( yellow( 'dark_10', .9 ) )
    &.escaped
        apply_l( orange( 'dark_10', .9 ) )
cdata // TODO
    apply_cl(
        red,
        white()
    )
