/* Strings */
string
    apply_l( yellow() )
    &.key
        apply_l( green() )
        &.single-quoted,
        &.double-quoted,
        &.backtick-quoted
            apply_l( orange() )
            &.delimiter
                apply_l( orange() )
    &.triple-quoted
        apply_l( orange() )
        &.delimiter
            apply_l( orange() )
string-template
    &.value
        debug()
regex
    apply_l( yellow() )
    &.escaped
        apply_l( orange() )
cdata
    debug()
