/* Styles */
style.at {
    color: hsb(25, 75%, 100%);
    font-weight: bold;
}
style.selector.element {
    font-weight: bold;
}
style.selector.identifier.id {
    color: hsb(166, 40%, 78%);
}
style.selector.identifier.class {
    color: hsb(258, 40%, 87%);
}
style.selector.pseudoclass {
    color: hsb(258, 40%, 87%);
}
style.selector.pseudoelement {
    color: hsb(166, 40%, 78%);
}
style.attribute.name {
    color: hsb(148, 35%, 70%);
}
style.value.number {
    color: hsb(249, 45%, 96%);
}
style.value.color.hex {
    color: hsb(249, 45%, 96%);
}
style.value.keyword {
    color: hsb(210, 60%, 100%);
}
style.value.color.named {
    color: hsb(210, 60%, 100%);
}
