/* Styles */
style
    &.at
        apply_l( orange() )
        semi_bold()
    &.selector
            apply_l( orange( 'light_30' ) )
        &.element
            apply_l( orange( 'light_20' ) )
            semi_bold()
        &.identifier.id
            debug()
        &.identifier.class
            apply_l( green( 'light_10' ) )
        &.pseudoclass
            apply_l( white() )
        &.pseudoelement
            apply_l( white() )
    &.attribute
        apply_l( orange( 'light_10' ) )
        &.value
            apply_l( yellow( 'light_20' ) )
        &.name
            apply_l( yellow( 'light_20' ) )
            italic()
        &.custom
            apply_l( white() )
    &.value
        &.function
            apply_l( orange( 'light_10' ) )
        &.identifier
            apply_l( magenta( 'light_10' ) )
        &.number
            apply_l( cyan() )
            &.unit
                apply_l( orange() )
        &.color
            &.rgb,
            &.hex,
            &.named
                apply_l( cyan() )
        &.keyword
            apply_l( cyan() )
            fs( none )
    &.url-value
        apply_l( yellow( 'light_20' ) )
    &.media-type
        apply_l( cyan() )
