/*
 * Syntax styles
 */

keyword
    apply_l( orange( 'light_10' ) )
    italic()
comment
    apply_l( gray(), .9 )
    italic()
processing
    apply_l( green( 'light_10' ) )
declaration
    apply_l( orange( 'light_10' ) )
bracket
    apply_l( orange() )
operator, colon, semicolon, separator
    apply_l( orange() )
invalid
    apply_cl(
        red(),
        gray( 'light_30' )
    )
    td_us( red() )
link, filepath
    apply_l( blue() )
    td_ud( blue() )
