/*
 * Syntax styles
 */

keyword
    apply_l( orange( 'light_10', .9 ) )
    italic()
comment
    apply_l( gray(), .9 )
    italic()
processing
    apply_l( green( 'light_10', .9 ) )
declaration
    apply_l( yellow( 'light_10', .9) )
bracket
    apply_l( orange( 'light_20' .9 ) )
operator, colon, semicolon, separator
    apply_l( orange( 'dark_10', .9) )
invalid
    apply_cl(
        red( .9 ),
        gray()
    )
    td_us( red( 'light_20', .9 ) )
link, filepath
    apply_l( blue( 'light_20', .9 ) )
    td_ud( blue( 'light_20', .9 ) )

single-quoted, double-quoted, backtick-quoted
    apply_l( yellow( 'dark_10', .9 ) )
    &.delimiter
        apply_l( orange( 'dark_10', .9 ) )
