/*
 * Syntax styles
 */

keyword {
    color: hsb(210, 60%, 100%);
}
comment {
    color: hsb(210, 20%, 50%);
}
processing {
    color: hsb(210, 20%, 50%);
}
declaration {
    color: hsb(210, 20%, 50%);
}
bracket {
    color: hsb(210, 20%, 52%);
}
operator {
    color: hsb(210, 20%, 52%);
}
invalid {
    background-color: hsb(355, 82%, 96%);
    color: hsb(60, 3%, 97%);
}
link {
    color: hsb(210, 60%, 100%);

}
