/* Tags */
tag
    apply_l( orange() )
    &.framework
        color: hsb(258, 40%, 87%);
    &.attribute.name
        apply_l( green( 'light_10' ) )
    &.attribute.value
        apply_l( yellow() )
    &.attribute.value.link
        apply_l( blue() )
        td_ud( blue() )
    &.open,
    &.close,
    &.quote,
    &.equals-sign
        apply_l( orange() )
