/* Tags */
tag {
    color: hsb(166, 40%, 78%);
}
tag.framework {
    color: hsb(258, 40%, 87%);
}
tag.attribute.name {
    color: hsb(95, 54%, 82%);
}
tag.attribute.value {
    color: hsb(5, 62%, 100%);
}
tag.attribute.value.link {
    color: hsb(210, 60%, 100%);
}
