/* Terminal */
terminal
    &.black
        apply_l( black() )
    &.red
        apply_l( red( 'light_10') )
    &.green
        apply_l( green( 'light_10' ) )
    &.yellow
        apply_l( yellow( 'light_10') )
    &.blue
        apply_l( blue( 'light_10') )
    &.magenta
        apply_l( magenta( 'light_10') )
    &.cyan
        apply_l( cyan( 'light_10') )
    &.white
        apply_l( white() )
    &.bright-black
        apply_l( black( 'light_20') )
    &.bright-red
        apply_l( red( 'light_20') )
    &.bright-green
        apply_l( green( 'light_20' ) )
    &.bright-yellow
        apply_l( yellow( 'light_20') )
    &.bright-blue
        apply_l( blue( 'light_20') )
    &.bright-magenta
        apply_l( magenta( 'light_20') )
    &.bright-cyan
        apply_l( cyan( 'light_20') )
    &.bright-white
        apply_l( white( 'light_20') )
