/* Terminal */
terminal.black
    apply_l( black() )

terminal.red
    apply_l( red() )

terminal.green
    apply_l( green() )

terminal.yellow
    apply_l( yellow() )

terminal.blue
    apply_l( blue() )

terminal.magenta
    apply_l( magenta() )

terminal.cyan
    apply_l( cyan() )

terminal.white
    apply_l( white() )

terminal.bright-black
    apply_l( black() )

terminal.bright-red
    apply_l( red() )

terminal.bright-green
    apply_l( green() )

terminal.bright-yellow
    apply_l( yellow() )

terminal.bright-blue
    apply_l( blue() )

terminal.bright-magenta
    apply_l( magenta() )

terminal.bright-cyan
    apply_l( cyan() )

terminal.bright-white
    apply_l( white() )
