/* Terminal */
terminal
    &.black
        apply_l( black() )
    &.red
        apply_l( red() )
    &.green
        apply_l( green() )
    &.yellow
        apply_l( yellow() )
    &.blue
        apply_l( blue() )
    &.magenta
        apply_l( magenta() )
    &.cyan
        apply_l( cyan() )
    &.white
        apply_l( white() )
    &.bright-black
        apply_l( black() )
    &.bright-red
        apply_l( red() )
    &.bright-green
        apply_l( green() )
    &.bright-yellow
        apply_l( yellow() )
    &.bright-blue
        apply_l( blue() )
    &.bright-magenta
        apply_l( magenta() )
    &.bright-cyan
        apply_l( cyan() )
    &.bright-white
        apply_l( white() )
