/* Text */
meta
    &.text
        apply_l( white( 'dark_10' ) )
        &.invisible
            apply_l( bgblack( 'light_20' ) )
        &.selected
            apply_cl( yellow( 'light_30', .6 ), gray( 'light_10', .6 ) )
