/* Types */
// definition.class
class.name
    apply_l( green( 'light_10' ) )
// type.name

definition.type,
definition.package, package.name,
definition.enum, enum.name,
definition.union, union.name,
definition.struct, struct.name
    debug()
