/* Values */
value.boolean {
    color: hsb(210, 60%, 100%);
}
value.null {
    color: hsb(210, 60%, 100%);
}
value.number {
    color: hsb(210, 60%, 100%);
}
value.entity {
    color: hsb(210, 60%, 100%);
}
value.symbol {
    color: hsb(210, 60%, 100%);
}
